<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFAFlNzjU5pve9wSbaojBjouI_YXOErg0</string>
	<key>GCM_SENDER_ID</key>
	<string>592540550164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileChaseapp</string>
	<key>PROJECT_ID</key>
	<string>notimessage-9bfc3</string>
	<key>STORAGE_BUCKET</key>
	<string>notimessage-9bfc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592540550164:ios:905753ebaef2c657cc9301</string>
</dict>
</plist>